@import "tailwindcss";


.pulsatingDot {
    animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    background-color: var(--pulsating-dot, #00de13);
    border-radius: 50%;
    box-sizing: border-box;
    height: 10px;
    width: 10px;
  }
  
  .pulsatingDot:before {
    animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    background-color: var(--pulsating-dot, #10e102);
    border-radius: 45px;
    content: '';
    display: block;
    height: 290%;
    left: -100%;
    position: relative;
    top: -100%;
    width: 290%;
  }  
  
  @keyframes pulseRing {
    0% { transform: scale(.5); }
    80%, 100% { opacity: 0; }
  }
  
  @keyframes pulseDot {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }
  
  .moving-gradient-bg {
    background: linear-gradient(270deg, #63f1f8, #e0e0e0, #f5f5f5);
    background-size: 600% 600%;
    animation: gradientMove 10s ease infinite;
  }
  

  
  